{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %} {% trans 'My Shop' %}{% endblock %}</title>
</head>
<body>
<div class="header">
    <a href="/" class="logo"> {% trans 'My Shop' %}</a>
</div>
<div id="subheader">
    <div class="cart">
        {% with total_items=cart|length %}
            {% if total_items > 0 %}
                {% trans 'Your cart:' %}
                <a href="{% url 'cart:cart_detail' %}">
                    {{ total_items }} {% trans 'item' %}{{ total_items|pluralize }}, ${{ cart.get_total_price }}
                </a>
            {% else %}
                {% trans 'Your cart is empty' %}
            {% endif %}
        {% endwith %}
        {{ cart.product }}
    </div>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
